<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script>
        (()=>{
            window.history.forward();
        })();
    </script>
</head>
<body>
    <blockquote>
        <h2>Example of MYSQL with ExpressJs  </h2>
        <%- include('./profileHeader.ejs') %>
        <%=message%>
        <h3>Update ToDo</h3>
        <form action="/user/updateToDoData" method="post">
            <input type="hidden" value="<%=todoObj.todoid%>" id="todoid" name="todoid"> <br>
            <input type="text" value="<%=todoObj.category%>" placeholder="Enter Category" id="category" name="category"> <br>
            <textarea placeholder="Enter Description" cols="21" id="description" name="description">
                <%=todoObj.description%>
            </textarea> <br>
            <select name="priority" id="priority">
                <option value="<%=todoObj.priority%>"><%=todoObj.priority%></option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="Average">Average</option>
                <option value="High">High</option>
                <option value="Extreme">Extreme</option>
            </select> <br> <br>
            <input type="submit"  value = "UpdateToDo" >
            <input type="reset" value="Clear Data"><br>

        </form>
    </blockquote>
</body>
</html>